<div class="container">
  <h2>Dashboard</h2>
  <div class="row card-container">
    <!-- IndiaMART Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/indiamart.png" alt="IndiaMART Logo" class="logo-img">
                </div>
                <h3>IndiaMART Leads</h3>
                <h2 class="text-right"><span>{{ indiaMARTLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ indiaMARTPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- Instagram Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/instagram.png" alt="Instagram Logo" class="logo-img">
                </div>
                <h3>Instagram Leads</h3>
                <h2 class="text-right"><span>{{ instagramLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ instagramPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- JustDial Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/jd.jpg" alt="JustDial Logo" class="logo-img">
                </div>
                <h3>JustDial Leads</h3>
                <h2 class="text-right"><span>{{ justDialLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ justDialPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- Twitter Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/x.png" alt="Twitter Logo" class="logo-img">
                </div>
                <h3>Twitter Leads</h3>
                <h2 class="text-right"><span>{{ twitterLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ twitterPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- Facebook Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-facebook order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/facebook.png" alt="Facebook Logo" class="logo-img">
                </div>
                <h3>Facebook Leads</h3>
                <h2 class="text-right"><span>{{ facebookLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ facebookPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- TradeIndia Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-tradeindia order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="../../assets/tradeindia.png" alt="TradeIndia Logo" class="logo-img">
                </div>
                <h3>TradeIndia Leads</h3>
                <h2 class="text-right"><span>{{ tradeIndiaLeads }}</span></h2>
                <p>Pending Customers<span class="f-right">{{ tradeIndiaPending }}</span></p>
            </div>
        </div>
    </div>

    <!-- Empty Card -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-c-grey order-card">
            <div class="card-block">
                <div class="logo-container">
                    <img src="assets/empty-logo.png" alt="Empty Logo" class="logo-img">
                </div>
                <h3>Empty Card</h3>
                <h2 class="text-right"><span>N/A</span></h2>
                <p>Pending Customers<span class="f-right">N/A</span></p>
            </div>
        </div>
    </div>
  </div>
</div>
